@import 'null';

$lightgrey-color: #f7f7f7;
$grey-color: #929292;
$darkgrey-color: #848789;
$lightblack-color: #4d4959;
$black-color: #282f35;
$green-color: #64c29e;

.wrap {
    font-family: 'Lato', sans-serif;
    color: $black-color;
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    position: relative;
    flex: 1 0 100%;
}

.header__parts {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(img/bg_2.jpg) center / cover no-repeat;
}

.header__menu {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
}

.header__menu-items {
    font-size: 1rem;
    display: flex;
    align-items: center;
    img {
        margin: 0 2rem;
    }
}
.header__menu-item {
    margin: 0 1.25rem;
    font-size: 0.85rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    a, a:visited, a:hover {
        color: #4d4959;
    }
}

.logo {
    margin: 8rem 0 2.25rem;
}

h2 {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    margin-bottom: 1rem;
}
  
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.generation {
    text-align: center;
    background: $lightgrey-color;
}

.generation__block-text {
    font-size: 1.2rem;
    line-height: 2.25rem;
    color: $darkgrey-color;
    margin-bottom: 10rem;
}

.info {
    background: #fff;
    text-align: center;
    img {
        margin: 4.5rem 0 1.5rem;
    }
    div {
        text-align: justify;
        font-size: 1.16rem;
        line-height: 2rem;
        color: #848789;
        margin: 0.66rem 4.5rem 6rem;
    }
}

.presentation1__block, .presentation2__block, .presentation3__block {
    display: flex;
}
//1
.presentation1__block-l {
    flex: 2;
    background: url(img/rectangle_1_54.jpg) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation1__block-r {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.presentation1__block-r-t{
    flex: 2;
}

.presentation1__block-r-b {
    flex: 1;
    background: url(img/rectangle_1_copy_2_56.jpg) center / cover no-repeat;
    padding: 0px 0px 37.5% 0px;
}

//2
.presentation2__block-l {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.presentation2__block-r {
    flex: 2;
    background: url(img/rectangle_1_copy_5_61.jpg) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation2__block-l-t{
    flex: 2;
}

.presentation2__block-l-b {
    flex: 1;
    background: url(img/rectangle_1_copy_3_59.jpg) center / cover no-repeat;
    padding: 0px 0px 37.5% 0px;
}

//3
.presentation3__block-l {
    flex: 1;
    background: url(img/rectangle_1_copy_6_63.jpg) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentation3__block-m {
    flex: 1;
}
.presentation3__block-m-t{
    flex: 2;
}

.presentation3__block-m-b {
    flex: 1;
    background: url(img/rectangle_1_copy_6_65.jpg) center / cover no-repeat;
    padding: 0px 0px 37.5% 0px;
}
.presentation3__block-r {
    flex: 1;
    background: url(img/rectangle_1_copy_6_64.jpg) center / cover no-repeat;
}

.aod__block {
    text-align: center;
  }

.itallic-text {
    font-size: 1.6rem;
    line-height: 2.125rem;
    font-style: italic;
    color: #848789;
}
.aod__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aod__block-slider-buttons{
    display: flex;
    justify-content: center;
    margin: 6.8rem 0 4.5rem;
}
.aod__block-slider-button {
    height: 11px;
    width: 11px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    margin-right: 9px;
    &.active {
        background-color: #c8c8c8;
    }
} 
/* GALLERY */

.gallery {
    display: flex;
    width: 100%;
    &-a, &-d  {
        display: flex;
        flex: 1;
    }
    &-b,&-bw  {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &-bw {
        flex: 2;
    }
    &-c {
        display: flex;
        height: 17.7rem;
    }
}

.pic1 {background: url("img/rectangle_3_118.jpg") center / cover no-repeat;}
.pic2 {background: url("img/rectangle_3_copy_137.jpg") center / cover no-repeat;}
.pic3 {background: url("img/rectangle_3_copy_3_139.jpg") center / cover no-repeat;}
.pic4 {background: url("img/rectangle_1_copy_8_140.jpg") center / cover no-repeat;}
.pic5 {background: url("img/rectangle_1_copy_7_136.jpg") center / cover no-repeat;}
.pic6 {background: url("img/bg_170.png") center / cover no-repeat;}
.pic7 {background: url("img/rectangle_3_copy_6_143.jpg") center / cover no-repeat;}
.pic8 {background: url("img/rectangle_3_copy_7_144.jpg") center / cover no-repeat;}

.shop {
    display: flex;
    justify-content: center;
    background-color: #282f35;
}
.shop-button {
    background-color: rgba(255,255,255,0.0);
    border: 1px solid rgba(255,255,255,0.49);
    width: 20rem;
    height: 3.3rem;
    margin: 5rem 0;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}
.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-string {
    display: flex;
    margin: 2.4rem 0 6rem;
}

.registration-input {
    height: 4.6rem;
    width: 26.6rem;
    background-color: #fff;
    border: 1px solid #d3d7d9;
    margin-right: 0.66rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-style: italic;
    color: #929292;
    padding-left: 2rem;
}

.registration-button {
    height: 4.6rem;
    width: 8.3rem;
    background: $green-color;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: #ffffff;
}

.footer {
    background-color: #f7f7f7;
}
.footer__content {
    height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__content-info {
    color: #848789;
    h4 {
        font-size: 1.1rem;
        line-height: 1.2rem;
        font-weight: 700;
    }
    p {
        font-size: 0.9rem;
        font-style: italic;
    }
}
.footer__content-social {
    img {
        margin-right: 1rem;
    }
}

.footer__content-copyright {
    display: flex;
    align-items: center;
    p {
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-style: italic;
        color: #848789;
        margin-right: 0.8rem;
    }
}



@media (max-width: 1280px) {
    html, body {
        font-size: 14px;
    }
    .info div {
        margin: 0.66rem 3rem 4rem;
    }
    .generation__block-text {
        margin-bottom: 8rem;
    }
    .logo {
        margin: 5rem 0 2rem;
    }
}

@media (max-width: 992px) {
    html, body {
        font-size: 13px;
    }
    .info div {
        margin: 0.66rem 2rem 3.25rem;
    }
    .generation__block-text {
        margin-bottom: 5rem;
    }
    .logo {
        margin: 4rem 0 1.75rem;
    }
    .presentation3__block-l img {
        width: 11rem;
    }
}

@media (max-width: 767px) {
    html, body {
        font-size: 12px;
    }
    .info div {
        margin: 0.66rem 1rem 2rem;
    }
    .generation__block-text {
        margin-bottom: 4rem;
    }
    .logo {
        margin: 3rem 0 1.5rem;
    }
}

@media (max-width: 580px) {
    html, body {
        font-size: 10px;
    }
    .generation__block-text {
        margin-bottom: 2rem;
    }
    .logo {
        margin: 2rem 0 1rem;
    }
    .info img {
        margin: 1.5rem 0 1.2rem;
    }
    .info div {
        margin: 0.4rem 1rem 2rem;
    }
    .header__menu-items {
        flex-direction: column;
        img,span {
            display: none;
        }
        margin-top: 2rem;
   
    }
    .header__menu-item {
        margin: 0 1.25rem;
        font-size: 1.6rem;
    }
    
}